[package]
name = "yaxpeax-dis"
version = "0.2.1"
authors = ["iximeow <me@iximeow.net>"]
license = "0BSD"
edition = "2018"
keywords = ["disassembly", "disassembler"]
repository = "https://git.iximeow.net/yaxpeax-dis/"
description = "disassembly tool using yaxpeax instruction decoders"
readme = "README.md"

[[bin]]
name = "yaxdis"
path = "src/main.rs"

[dependencies]
clap = "2.33"
hex = "0.4.0"
num-traits = "0.2.10"

# common interfaces for all yaxpeax decoders
yaxpeax-arch = { version = "0.0.4" }

yaxpeax-arm = { version = "0.0.4" }
yaxpeax-avr = { version = "0.0.2" }
yaxpeax-m16c = { version = "0.0.3" }
yaxpeax-mips = { version = "0.0.3" }
yaxpeax-msp430 = { version = "0.0.5" }
yaxpeax-pic17 = { version = "0.0.3" }
yaxpeax-pic18 = { version = "0.0.3" }
yaxpeax-x86 = { version = "0.1.0" }
